.Title {
    font-size: larger;
    text-align: left;  /* Add this line */
}

.Title h1 {
    padding: 0;
    margin: 0.5rem 0 1rem 0;
}

.Title h2 {
    padding: 0;
    margin: 0.5rem 0 1rem 0;
}

.Title h3 {
    padding: 0;
    margin: 0.5rem 0 1rem 0;
}


@media (max-width: 779px) {
    .Title {
        /* Add responsive styles here if needed */
    }
}

@media (min-width: 780px) {
    .Title {
        /* Add responsive styles here if needed */
    }
}
