.Content {
  margin: 2rem 10rem;
  display: flex;
  height: 100%;
  z-index: 2;
}

.TitleContainer {
  display: flex;
  justify-content: flex-start; /* This will align its children to the left */
}

.ResumeContent {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.LightContent p {
  margin: 1rem 0 0.5rem 0;
}

.LightContent ul {
  margin: 0;
}

.ContentBlockGap {
  margin-bottom: 2rem; /* Adjust the value as needed */
}

/* Adjustments for small screen */
@media (max-width: 779px) {
  .Content {
  }
}

/* Add this media query at the bottom of your CSS file */
@media (max-width: 1044px) {
  .Content {
    margin: 2rem 4rem 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .ResumeContent {
    flex-direction: column;
  }
}

/* Media Query specifically for 750px to 1134px screen widths */
@media (min-width: 780px) and (max-width: 1135px) {
  .Content {
    margin: 2rem 9rem 2rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .HeavyContent {
    margin-right: 8rem;
  }
}

/* Media Query specifically for 750px to 1134px screen widths */
@media (min-width: 1136px) {
  .Content {
    margin: 2rem 9rem 2rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .HeavyContent {
    margin-right: 8rem;
  }
}
