.Contact {
  position: relative;
  height: 100vh;
}


.Content {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  align-items: center; /* Center children vertically */
  justify-content: center; /* Center children horizontally */
  z-index: 2;
}

.headShotContainer {
  flex: 1;  /* This allows it to grow and take available space */
  max-width: 300px;  /* Set a maximum width */
  display: flex;  /* Set display to flex */
  align-items: center;  /* Center child vertically */
  justify-content: center;  /* Center child horizontally */
}


.headShotContainer img {
  width: auto;
  height: auto;
  max-width: 200px;
}

.ContactInformationContainer {
  flex: 2;  /* This allows it to grow and take available space */
  max-width: 600px;  /* Set a maximum width */
}

.MainTitleContainer,
.MoreTextContainer,
.HireMeContainer {
  width: 100%;
  text-align: center;
  padding: 0;
  position: relative; /* Allows us to position child elements */
}

.MainTitleContainer h1 {
  z-index: 1; /* Higher z-index makes sure the text appears above the rectangle */
  position: relative; /* Necessary for z-index to take effect */
}

.MainTitleContainer::after {
  content: "";
  position: absolute;
  bottom: 1rem; /* Distance from the bottom of the text */
  left: 58.5%;
  transform: translateX(-50%); /* Centering adjustment */
  width: 8%; /* Width of the rectangle */
  height: 45px; /* Height of the rectangle */
  background-color: #D3F136; /* Background color of the rectangle */
  z-index: 0;
}

@media (max-width: 779px) {
  .MainTitleContainer::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .Content {
    flex-direction: column;
  }
}


.MoreTextContainer p {
  z-index: 1; /* Higher z-index makes sure the text appears above the rectangle */
  font-weight: bold;
}

.HireMeContainer {
  margin-top: 1rem;
}