.Home {
  position: relative;
}

.Content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 2;
}

.headShotContainer {
  width: 30%;
  margin-top:auto;
}

.headShotContainer img {
  width: 100%;
  height: auto;
  max-width: 200px;
}

.headShotContainer,
.MainTitleContainer,
.MoreTextContainer,
.HireMeContainer {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative; /* Allows us to position child elements */
  align-items: ;
}

.MainTitleContainer h1 {
  z-index: 1; /* Higher z-index makes sure the text appears above the rectangle */
  position: relative; /* Necessary for z-index to take effect */
  margin-bottom: 0;
}




@media (max-width: 779px) {
  
}

.MoreTextContainer {
  max-width: 800px; /* or whatever maximum width you want */
  margin: 0 auto; /* Horizontal auto-margins for centering */
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
}

.MoreTextContainer h2,
.MoreTextContainer p {
  max-width: 90%; /* or whatever maximum width you want */
  margin: 0 auto; /* Horizontal auto-margins for centering */
  z-index: 1;
  padding-top: 0.5rem; /* Removed large padding */
}

.MoreTextContainer p {
  padding-top: 1.5rem;
  font-weight: bold;
}

.HireMeContainer {
  margin-top: 1rem;
}

