.ContentBlock {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  padding: 0.5rem 1rem;
}

.ContentBlock p {
    margin: 0;
    padding: 0;
}

.ExperienceDescriptionContainer {
  align-self: flex-start; /* Aligns to the top left */
  margin: 0;
  padding: 0;
}

.ExperienceDescriptionContainer h3{
  margin: 0;
  padding: 0;
  font-style: italic;
}

.TimePeriodContainer {
  align-self: flex-end; /* Aligns to the top right */
  font-style: italic;
}

.TitleContainer {
  width: 100%; /* Takes full width */
  margin: 0;
  padding: 0;
}

.BulletsContainer {
  width: 100%; /* Takes full width */
}

/* This is an additional container for ExperienceDescriptionContainer and TimePeriodContainer */
.TopContainers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Responsive text sizes */
.ExperienceDescriptionContainer h3{
  font-size: calc(12px + 0.4vw); /* Base size of 12px plus 0.4% of viewport width */
  /* Other styles */
}

.TimePeriodContainer {
  font-size: calc(10px + 0.3vw); /* Base size of 10px plus 0.3% of viewport width */
  /* Other styles */
}

.TitleContainer p {
  font-size: calc(14px + 0.1vw); /* Base size of 14px plus 0.5% of viewport width */
}

.BulletsContainer li {
  font-size: calc(12px + 0.1vw); /* Base size of 12px plus 0.3% of viewport width */
}